<p>
  <strong>+ in / - out</strong>
</p>

<p>
  <strong>Crop:</strong>
</p>

<p>
	<strong>Load Full:</strong>
</p>

<p>
	<strong>Load Empty:</strong>
</p>

<p>
  <strong>net_weight:</strong>
</p>

<p>
  <strong>Moisture:</strong>
</p>

<p>
  <strong>Bushels:</strong>
</p>

<p>
  <strong>Bin:</strong>
</p>

<p>
  <strong>Field:</strong>
</p>

<p>
  <strong>Driver:</strong>
</p>

<%= link_to 'Edit', edit_tload_path(@tload) %>
<%= link_to 'Back', tloads_path %>
